/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 40px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 10px;
}

.footer-text {
    text-align: right;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-top {
    background:#F6F5F4;
    display: flex;
    justify-content: space-between;
}

.footer-top-left,
.footer-top-right {
    display: flex;
    gap: 30px;
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 14px */
}

.line {
    width: 100%;
    height: 1.2px;
    margin: 20px 0;
    background-color: #e0e0e0;
}

.footer-bottom {
    display: flex;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 12px */
}

.social {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media (max-width: 768px) {
    .footer-top-left,
    .footer-top-right {
        flex-direction: column;
        font-size: 12px;
        gap: 16px;
    }
    .footer-bottom {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .footer-bottom p {
        font-size: 10px;
    }
    .social {
        flex: 0 0 100%;
        justify-content: center;
    }
}